@(post:(models.Post,models.User), mode: String)


@commentsTitle = {
    @if(post._1.comments) {
        @post._1.comments.size comments, latest by @post._1.comments(0).author
    } else {
        no comments
    }
}

@comments = {
    @if(post._1.comments) {
        @post._1.comments.map { comment =>
            <div class="comment">
                <div class="comment-metadata">
                    <span class="comment-author">by @comment.author,</span>
                        <span class="comment-date">
                            @comment.postedAt.format("dd MMM yy")
                        </span>
                </div>
            <div class="comment-content">
                @Html(comment.content.replace("\n", "<br>"))
            </div>
            </div>
        }
    }
}



<div class="post @mode">
    <h2 class="post-title">
        <a href="/blog/@post._1.postedAt.getTime()">@post._1.title</a>
    </h2>
    <div class="post-metadata">
        <span class="post-author">by @post._2.fullname</span>,
        <span class="post-date">
            @post._1.postedAt.format("dd MMM yy")
        </span>

        @if(mode != "full") {
            <span class="post-comments">
                @commentsTitle
            </span>
        }
    </div>
    @if(mode != "teaser") {
    <div class="post-content">
        @Html(post._1.content.replace("\n", "<br>"))
    </div>
    }
</div>

@if(mode == "full") {
<form action="/comment/@post._1.postedAt.getTime()" method="POST"> <br>
    Nickname <input type="text" name="author" size="10"> <br>
    Comment <textarea name="content" rows="1" cols="10"></textarea> <br>
    <input type="submit" value="comment"> <br>
<div class="comments">
    <h3>
        @commentsTitle
    </h3>
        @comments
</div>

}